/* UpdatePage.css */

.updatePage {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
}

.table-container {
    overflow-y: auto;
    margin-right: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table tbody tr:hover {
    background-color: #e2e6ea;
    cursor: pointer;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

.form-container h4 {
    color: #007bff;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}