.ResourcesMainContainer {
   display: flex;
   width: 100%;
   height: 20%;
   flex-direction: row;
   justify-content: space-around;
}

.ResourcesMainContainer > div {
   background-color: #008080;
   color: white;
   font-size: 25px;
   text-align: center;
   font-weight: bold;
   width: 25%;
   align-items: center;
   justify-content: space-evenly;
   display: flex;
   flex-direction: column;
   padding: 10px;
}

a {
   display: block;
   margin-bottom: 10px;
   text-decoration: none;
   color: white;
}

/* ResourcesPage.css */

.faq-container {
   border: 1px solid #ddd;
   padding: 10px;
   margin-top: 10px;
}

.faq-container h3 {
   margin-bottom: 10px;
   cursor: pointer;
}

.faq-container p {
   margin-bottom: 5px;
}